body {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border-radius: 20px;
  box-sizing: border-box;
  color: whitesmoke;
  display: block;
  font-family: "Courier Prime", monospace;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0;
  text-align: center;
}
.container {
  background-image: url(darktheme.jpg) ;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: hue;
  border: 2px solid #885df1;
  border-radius: 35px;
  box-shadow: 10px 10px 8px rgb(182, 181, 181);
  text-align: center;
}

h1 {
  font-weight: 100;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}

h3 {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.temperature,
.description {
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  margin-left: 20px;
}

.units {
  position: relative;
  font-size: 30px;
  font-weight: 300;
}

ul {
  list-style-type: none;
  font-size: 30px;
  font-weight: 300;
}

.form-control {
  background: transparent;
  opacity: 0.5;
  background: black;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  margin-top: 5em;
}

input {
  background: transparent;
  border: 1px solid #885df1;
  border-radius: 25px;
  box-shadow: 5px 5px 2px rgb(182, 181, 181);
  color: #885df1;
  font-size: 15px;
  font-weight: normal;
  margin: 10px auto;
  padding: 10px 15px;
  text-align: center;
  transition: all 200ms ease-in-out;
}

input .submit {
  position: relative;
  right: 0;
  cursor: pointer;
}

.control-button:hover {
  color: white;
  cursor: pointer;
}

button {
  background: transparent;
  border: 1px solid #885df1;
  border-radius: 35px;
  box-shadow: 5px 5px 2px rgb(182, 181, 181);
  color: #885df1;
  font-size: 15px;
  font-weight: normal;
  margin: 10px auto;
  padding: 10px 15px;
  text-align: center;
  transition: all 200ms ease-in-out;
}

button:hover {
  color: white;
  cursor: pointer;
}

.card {
  background: transparent;
  position: relative;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}

#description {
  font-size: 30px;
  font-weight: 300;
}
.weatherTemperature .active {
  color: whitesmoke;
  cursor: default;
}

.weatherTemperature .active:hover {
  text-decoration: none;
}

#icon {
  background: transparent;
  background-color: rgb(199, 177, 177);
  border-radius: 35px;
  opacity: 1.5;
  }